<ion-header>
  <ion-toolbar>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>{{ titulo }}</p>
  <ion-grid>
    <ion-row>
      <ion-col>Disciplina</ion-col>
      <ion-col>A1</ion-col>
      <ion-col>A2</ion-col>
      <ion-col>A3</ion-col>
      <ion-col>EDAD</ion-col>
      <ion-col>Média</ion-col>
    </ion-row>




      <ion-row *ngFor="let nota of notas">
        <ion-col>{{ nota.disciplina }} </ion-col>
        <ion-col>{{ nota.a1 }} </ion-col>
        <ion-col>{{ nota.a2 }} </ion-col>
        <ion-col>{{ nota.a3 }} </ion-col>
        <ion-col>{{ nota.edad }} </ion-col>
        <ion-col>{{ nota.media }} </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
