<ion-tabs>
    <ion-tab-bar slot="top" color="tertiary">
        <ion-tab-button>
            <ion-label>Aba 1</ion-label>
          </ion-tab-button>

          <ion-tab-button>
              <ion-label>Aba 2</ion-label>
            </ion-tab-button>

            <ion-tab-button>
                <ion-label>Aba 3</ion-label>
              </ion-tab-button>
              
      </ion-tab-bar>
      
      <ion-text><p>Página criada com Tabs Layout.</p></ion-text>
      <a href="/home">Voltar</a>

      <ion-tab-bar slot="botom" color="tertiary">
          <ion-tab-button>
              <ion-label>Aba 4</ion-label>
              <ion-icon name="home"></ion-icon>
            </ion-tab-button>

            <ion-tab-button>
                <ion-label>Aba 5</ion-label>
                <ion-icon name="american-football"></ion-icon>
              </ion-tab-button>
        </ion-tab-bar>
      
</ion-tabs>