<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Tipos de Layout no Ionic</h2>
  <ul>
	<li><a href="/header">Header Layout</a></li>

  <li><a href="/footer">Footer Layout</a></li>

  <li><a href="/tabs">Tabs Layout</a></li>

  <li><a href="/menu">Menu Layout</a></li>

  <li><a href="/split">Split Pane Layout</a></li>

  <li><a href="/grid">Grid Layout</a></li>

  <li><a href="/list">List Layout</a></li>
  ...
  </ul>
</ion-content>
