<ion-header>
    <ion-toolbar color="warning">
        <ion-menu-button slot="start"></ion-menu-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text><p>Página criada com Menu Layout.</p></ion-text>
</ion-content>
<ion-router-outlet main></ion-router-outlet>

<ion-menu>
    <ion-header>
        <ion-toolbar color="success">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
        <ion-item><ion-label>Item 1</ion-label></ion-item>
        <ion-item><ion-label>Item 2</ion-label></ion-item>
        <ion-item><ion-label><a href="/home">Voltar</a></ion-label></ion-item>
    </ion-content>

</ion-menu>