<ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="danger">
        </ion-toolbar>
        <ion-title>Painel Lateral</ion-title>
      </ion-header>
      <ion-content>
        <ion-item>
            <ion-label>Aba 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Aba 2</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Aba 3</ion-label>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-content main> 
      <ion-header>
        <ion-toolbar color="light">
          <ion-title>Painel Principal</ion-title>
        </ion-toolbar>
      </ion-header>
      <p>Página criada com Split Pane Layout</p>
      <a href="/home">Voltar</a>
    </ion-content>
    </ion-split-pane>