<ion-content>
    <ion-list>
      <ion-toolbar color="dark">
        <ion-title>Título</ion-title>
      </ion-toolbar>
      <ion-header>
          <ion-label>Página criada com List Layout</ion-label>
          <a href="/home">Voltar</a>
      </ion-header>
      <ion-item>Item 1</ion-item>
      <ion-item>Item 2</ion-item>
      <ion-item>Item 3</ion-item>
      <ion-item>Item 4</ion-item>
      <ion-item>Item 5</ion-item>
      <ion-item>Item 6</ion-item>
      <ion-item>Item 7</ion-item>
      <ion-item>Item 8</ion-item>
      <ion-item>Item 9</ion-item>
      <ion-item>Item 10</ion-item>
      <ion-item>Item 11</ion-item>
      <ion-item>Item 12</ion-item>
      <ion-item>Item 13</ion-item>
      <ion-item>Item 14</ion-item>
      <ion-item>Item 15</ion-item>
      </ion-list>
    </ion-content>