<ion-header>
    <ion-toolbar>
      <ion-title>Abas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
        <ion-tabs>
                <ion-tab-bar slot="bottom">
                <ion-tab-button tab="aba1">
                <ion-icon name="flash"></ion-icon>
                <ion-label>Aba 1</ion-label>
                </ion-tab-button>
                </ion-tab-bar>
                <ion-tab-bar slot="bottom">
                        <ion-tab-button tab="aba2">
                        <ion-icon name="flash"></ion-icon>
                        <ion-label>Aba 2</ion-label>
                        </ion-tab-button>
                        </ion-tab-bar>
                        <ion-tab-bar slot="bottom">
                                <ion-tab-button tab="aba3">
                                <ion-icon name="flash"></ion-icon>
                                <ion-label>Aba 3</ion-label>
                                </ion-tab-button>
                                </ion-tab-bar>
               </ion-tabs>
  </ion-content>
  
